<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body>
<h2>HTML Form</h2>
<form action="backend.java" method="post">
  <!--<label for="name">Resistaion forn</label><br>-->
  <div>
    Name: <input type="text" name="myName" id="name">
  </div>
  <br>
  <div>
    Role: <input type="text" name="myRole">
  </div>
  <br>
  <div>
    <!--If shotcut mai <input type="" name="" id="" lik
    likhana hai  to Email: input:email likh kar Enter presh karo-->
    Email: <input type="email" name="myEmail">
  </div>
  <br>
  <div>
    Date: <input type="Date" name="myDate">
  </div>
  <br>
  <div>
    Bonus: <input type="number" name="myBonus">
  </div>
  <br>
  <div>
    Are you Eligible?: <input type="checkbox" name="myEligible">
    Are you 18+: <input type="checkbox" name="my18+"checked><!--if you want olredy check box then write checked in last-->
  </div>
  <br>
  <div>
    Gender:  Male<input type="radio" name="myGender"> Female<input type="radio" name="myGender">
    Other <input type="radio" name="myGender">
  </div>
  <br>
  <div>
    Write about yourself:<br><textarea name="mytext" cols="30" rows="10"></textarea>
  </div>
  <br>
  <div>
    <label for="car">Car</label>
    <select name="myCar" id="Car">
      <option value="ind">Indica</option>
      <option value="swf"selected>Swift</option>
      <option value="swf">None</option>
    </select>
  </div>
  <br>
  <div>
    <input type="submit" value="Submit NOW">
    <input type="reset" value="Reset NOW">
  </div>
  <br>
</form>
</body>
</html>